<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title>Gestion Menus</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" text='retour'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <a routerLink="/new-menu"><ion-button color="danger">Add menu</ion-button></a>
  <ion-card *ngFor="let menu of menus">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="expansion_panel">
              <img *ngIf="!changeImageMenu" src={{menu.img}} alt="menu img">
              <img *ngIf="changeImageMenu" src="data:image/jpeg;base64,{{img64}}"/>
              <mat-panel-description>
                  {{menu.label}}
              </mat-panel-description>
          </mat-expansion-panel-header>
          <ion-button color="danger" (click)="modifMenu(menu.id)">Modifier</ion-button>
          <br/>
          <div style="float: right;">
              <input  *ngIf="!changeImageMenu" type="file" style="float: right;" (change)="handleFileSelect($event)"/>
              <ion-button color="danger" *ngIf="changeImageMenu" mat-raised-button color="primary" type="button" (click)="modifierImage(menu.id)">modifier</ion-button>
              <ion-button color="danger" *ngIf="changeImageMenu" mat-raised-button color="primary" type="button" (click)="annulerImage()">annuler</ion-button>
          </div>
          <br/>
          <br/>
          <div *ngFor="let meal of menu.meals" class="meal">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <img [src]=meal.img64 alt="meal image"  />
                </ion-col>
                <ion-col>
                  <p>{{meal.label}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <br/>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>
</ion-content>
