#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
 margin-bottom:20px;
}

ion-grid {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-row {
  margin: 20px 10%;
}

ion-card-title {
  padding: 5px;
}

.icon {
  margin-right: 10px;
}

ion-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}