<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title>Lunchlady</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <!--<ion-buttons *ngIf="isLogged" slot="end">
      <ion-buttons color="light" (click)="logout()">
        me déconnecter
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>-->
    <!--<ion-buttons *ngIf="!isLogged" slot="end">
      <ion-buttons color="light" [routerLink]="['/login']">
        connexion
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="currentUser">
    <span class="welcomeMsg">Bonjour <span class="userName">{{currentUser.firstname}}</span>, bon appétit !</span>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!isLogged" class="ion-margin-top" size-md="6">
        <div id="container">
            <h1>Bienvenue sur Lunchlady</h1>
            <p>
             Ici vous pourrez commander des plats avant 10h30, pour créditer sa cagnotte veuillez contacter directement la cantinière
            </p>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>