<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  <ion-toolbar color='danger'>
    <ion-title size='large'>Lunchlady</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/login']">
        login
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
    
  </ion-header>

  <div id="container">
    <p>Bienvenue veuillez vous identifiez afin de pouvoir commander.</p>
  </div>
</ion-content>
