<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title size='large'>Lunchlady</ion-title>
    <ion-buttons *ngIf="isLogged" slot="end">
      <ion-buttons color="light" (click)="logout()">
        me déconnecter
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons *ngIf="!isLogged" slot="end">
      <ion-buttons color="light" [routerLink]="['/login']">
        connexion
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
        <ion-card routerLink="/menus" color="danger" class="ion-text-center">
          <ion-card-header>
            <ion-icon class="icon" size="large" name="fast-food-outline"></ion-icon>
            <ion-card-title>Menu</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="isLogged" size-md="6">
        <ion-card routerLink="/profil" color="danger" class="ion-text-center">
          <ion-card-header>
            <ion-icon class="icon" size="large" name="person"></ion-icon>
            <ion-card-title>Profil</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col *ngIf="isLogged && isLunchLady" size-md="6">
        <ion-card routerLink="/admin" color="danger" class="ion-text-center">
          <ion-card-header>
            <ion-icon class="icon" size="large" name="storefront-outline"></ion-icon>
            <ion-card-title >Admin</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="!isLogged" class="ion-margin-top" size-md="6">
        <div id="container">
          <p>Bienvenue veuillez vous identifiez afin de pouvoir commander.</p>
        </div>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>