<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title slot='start' size='large'>Mon mot de passe</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" text='retour'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mot de passe oublié</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class='ion-margin-vertical'>
        <ion-item class='ion-margin-vertical'>
          <p class="small">Afin que nous puissions vous renvoyer votre mot de passe veuillez renseigner le champ ci-dessous</p>
          <ion-label position="floating" for="email">Mon adresse email :</ion-label>
          <ion-input type="text" id="email" formControlName="email" placeholder="xxx@zzz.com"></ion-input>
        </ion-item>
        <div class="ion-text-center ion-margin-top">
          <ion-button class="ion-margin-vertical" [disabled]="!forgotForm.valid" size="small" fill="solid" color="danger" type="submit" >Connexion</ion-button> 
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

