ion-col {
    height:30%;
}
ion-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin: 0;
}

ion-card-title {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #444;
}