<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title slot='start' size='large'>Menus</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" text='retour'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='6' *ngFor="let menus of listeMenus">
        <ion-card>
          <ion-card-header>
            <img src={{menus.img64}} alt="Photo of menu">
            <ion-card-title>{{menus.label}}</ion-card-title>
            <ion-card-subtitle>{{menus.priceDF}} €</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>