ion-card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.centeredGrid {
    display: flex;
    flex-direction: column;
}

.centeredRow {
    justify-content: center;
}

ion-input {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 0;
    font-size: 0.9em;
    margin: 10px 0;
}

.modifyImgBtn , ion-button{
    font-size: 0.8em;
}

.chooseFile {
    font-size: 0.8em;
}

img {
    max-width: 50%;
}

ion-label {
    font-weight: bold;
    color: #333;
}

h3 {
    color:#333;
    padding-top:10px;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

li {
    border-bottom: solid 1px #CCC;
}

.closeIcon {
    float:right;
}