<ion-header class="ion-no-border">
  <ion-toolbar color='danger'>
    <ion-title>Mon profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" text='retour'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="profilHeader">
      <ion-grid class="centeredGrid">
        <ion-row class='centeredRow'>
          <ion-col class="imgCol" size='6'>
            <img *ngIf="!changeImage" [src]="currentUser && currentUser.image64"/>
            <img *ngIf="changeImage" src="data:image/jpeg;base64,{{img64}}"/>
            <ion-button (click)="displayImgBtn()" size="small" class='modifyImgBtn' color="light" type="button">changer l'image</ion-button>
          </ion-col>
          <ion-col size="12">
            <input *ngIf="chooseFileBtnClass" type="file" (change)="handleFileSelect($event)" placeholder="choisir image"/>
          </ion-col>
        </ion-row>
        <ion-row class='centeredRow'>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
    <form [formGroup]="userForm">
        <ion-grid>
          <ion-row>
            <ion-col size='6'>
              <ion-label position="floating">Nom</ion-label>
              <ion-input type="text" formControlName="name" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">Prénom</ion-label>
              <ion-input  type="text" formControlName="firstname" [readonly]="readonly"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='6'>
              <ion-label position="floating">Porte-monnaie</ion-label>
              <ion-input  type="text" formControlName="wallet" readonly></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input n type="text" formControlName="email" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">Téléphone</ion-label>
              <ion-input  type="text" formControlName="phone" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">Adresse</ion-label>
              <ion-input  type="text" formControlName="address" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">Code Postal</ion-label>
              <ion-input  type="text" formControlName="postalCode" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='6'>
              <ion-label position="floating">Ville</ion-label>
              <ion-input  type="text" formControlName="town" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='12'>
              <ion-label position="floating">Nouveau mot de passe</ion-label>
              <ion-input  type="text" formControlName="password" [readonly]="readonly"></ion-input>
            </ion-col>
            <ion-col size='12'>
              <ion-button mat-raised-button color="primary" *ngIf="readonly" type="button" (click)="readonlyOn()">Modifier</ion-button>
              <ion-button mat-raised-button *ngIf="!readonly" type="button" (click)="modificationProfile(currentUser.id)">Enregistrer</ion-button>
              <ion-button mat-raised-button color="danger" *ngIf="!readonly" type="button" (click)="readonlyOff()">Annuler</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>